MONGO_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/
JOOBLE_API_KEY=your_jooble_key
ADZUNA_APP_ID=your_adzuna_app_id
ADZUNA_APP_KEY=your_adzuna_app_key
USAJOBS_USER_AGENT=your_registered_email@example.com
USAJOBS_API_KEY=your_usajobs_key
FLASK_ENV=development
